{% load static %}
<!DOCTYPE html>
<html>
    <head>
      
      <link rel="stylesheet" href="{% static 'css/Sandles.css'%}">
    </head>
    <body>
    {%include "header.html" %}

     {% block content %}

      <center>
     <h2>Women’s <span>Shoes</span>  Collections</h2>
    </center>

    
     <div class="container">
        <div> <a href="{% url 'view' 'Nike'%}"> <img src="{% static 'images/nike_1.png' %}"> </a> </div>
        <div> <a href="{% url 'view' 'Puma'%}"> <img src="{% static 'images/puma_2.png' %}"> </a> </div>
        <div> <a href="{% url 'view' 'Reebok'%}"><img src="{% static 'images/reebok_1.png' %}"> </a></div>
        <div> <a href="{% url 'view' 'Bacca Bucci'%}"></a> <img src="{% static 'images/bc.jpg' %}"> </div>
        <div> <a href="{% url 'view' 'U.S. POLO ASSN'%}"></a> <img src="{% static 'images/upsa.png' %}"> </div>
     </div>

    <section>
        {% for product in data %}
            <div>
               
                <a href="{% url 'product_list' product.id%}">
                {% if product.image_set and product.image_set.img1 %}
                    <img src="{{ product.image_set.img1.url }}" alt="{{ product.name }}">
                 </a>
                {% else %}
                    <p>No image</p>
                {% endif %}
              <a href="{% url 'product_list' product.id%}"> <h4>{{product.name}}</h4> </a> 
                <p class="price">
                 ₹{{ product.up_price }}
                  <span class="mrp">M.R.P <del>₹{{ product.og_price }}</del></span>
                  <span class="offer">({{ product.offer }}%)</span>
                </p>
                <p>Brand: {{ product.brand.name}}</p>
                <p>{{time}}</p>
                <p>{{fst}}</p>
               <a href="{% url 'product_list' product.id%}"> <button class="cart-btn" >Add to Cart</button></a>
                </form>

            </div>
        {% endfor %}
  
    </section>
    {%endblock%}

    {%include "foter.html"%}
    </body>
</html>